.member-team {
    font-size: 1rem;
}

.social-medias-icons {
    margin-bottom: 10px;
}

.frufru {
    font-size: 11px;
    font-weight: 600;
    color: rgb(32, 61, 19);
}
.member-info-container {
    display: flex;
    justify-content:space-evenly;
}

.member-info-container a {
    transform: scale(0.9);
}

.member-info-container a:hover {
    transform: scale(1);
    transition: all ease 0.2s;
}