.input-signup {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input-signup:focus {
  background-color: #ddd;
  outline: none;
}

.error-message {
  padding-bottom: 15px;
  font-weight: 700;
  color: #E43B17;
}

@media (max-width:760px) {
  .container {
    position: relative;
  }
  .signup-title {
    position: absolute;
    margin-bottom: 600px;
  }
  .signup-subtitle {
    position: absolute;
    margin-bottom: 500px;
  }
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  margin-top: 10px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
}

.signupbtn {
  background-color: #04AA6D;

}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  height: 30px;
	border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.cancelbtn:hover, .signupbtn:hover {
  opacity: 1;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}