
.container-signup {
  width: 1050px;
	background-color: rgba(25,220,250,0.8);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;	border-radius: 10px;
	margin: 0 auto;
	margin-top: 110px;
	text-align: center;
}

.input-signup {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input-signup:focus {
  background-color: #ddd;
  outline: none;
}

.error-message {
  padding-bottom: 15px;
  font-weight: 700;
  color: #E43B17;
}

@media (max-width:760px) {
  .container {
    position: relative;
  }
  .signup-title {
    position: absolute;
    margin-bottom: 600px;
  }
  .signup-subtitle {
    position: absolute;
    margin-bottom: 500px;
  }
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  margin-top: 10px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
}

.signupbtn {
  background-color: #04AA6D;

}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  width: 35%;
  height: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
	border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.cancelbtn:hover, .signupbtn:hover {
  opacity: 1;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}